<<<<<<< HEAD
h1 {
  font-size: 40px;
}

=======
>>>>>>> 6d4040e70dd964c6b037ec30067fe8d3b46b62fe
body {
  padding-top: 50px;
}
.starter-template {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
<<<<<<< HEAD

  min-height: 550px;
=======
  max-width: 810px;
>>>>>>> 6d4040e70dd964c6b037ec30067fe8d3b46b62fe
  text-align: center;

}

.container{
    font-size: 20px;
}

.row{
    clear: both;
    width: 100%;
    margin: 0;
    padding: 0;
}

.row-chunk{
  float: left;
<<<<<<< HEAD
  width: 50%;
  min-width: 500px;
}

.charts{
  height: 200px;
=======
  width: 400px;
}

.charts{
  height: 300px;
>>>>>>> 6d4040e70dd964c6b037ec30067fe8d3b46b62fe
}


.about{
    text-align: left;
}

.contact{
    text-align: center;
}

.form_content{
    text-align: left;
    font-size:  14px;
}
.form_text{
    display: block;
}

<<<<<<< HEAD
.twitter_tick{
    font-size: 15px;
}

.twitter_tick p{
    background-color: #A9D0F5;
}

#grey{
  background-color: #f1f1f1;
}

#blue{
  background-color: #66CCFF;

}


footer{

=======
footer{
    border-top: 1px solid #666;
>>>>>>> 6d4040e70dd964c6b037ec30067fe8d3b46b62fe
    padding-top: 15px;
    text-align: center;
    font-size: 14px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
