h1 {
  font-size: 40px;
}

body {
  padding-top: 50px;
}
.starter-template {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;

  min-height: 550px;
  text-align: center;

}

.container{
    font-size: 20px;
}

.row{
    clear: both;
    width: 100%;
    margin: 0;
    padding: 0;
}

.row-chunk{
  float: left;
  width: 50%;
  min-width: 500px;
}

.charts{
  height: 200px;
}


.about{
    text-align: left;
}

.contact{
    text-align: center;
}

.form_content{
    text-align: left;
    font-size:  14px;
}
.form_text{
    display: block;
}

footer{
    border-top: 1px solid #666;
    padding-top: 15px;
    text-align: center;
    font-size: 14px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
