body {
  padding-top: 50px;
}
.starter-template {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  max-width: 810px;
  text-align: center;

}

.container{
    font-size: 20px;
}

.row{
    clear: both;
    width: 100%;
    margin: 0;
    padding: 0;
}

.row-chunk{
  float: left;
  width: 400px;
}

.charts{
  height: 300px;
}


.about{
    text-align: left;
}

.contact{
    text-align: center;
}

.form_content{
    text-align: left;
    font-size:  14px;
}
.form_text{
    display: block;
}

.twitter_tick{
    font-size: 15px;

}

.twitter_tick p{
  font-size:  18px

}

footer{
    border-top: 1px solid #666;
    padding-top: 15px;
    text-align: center;
    font-size: 14px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
