{% extends "base.html" %}

{% block body %}

<div class="about">
<h1>What is rheTORacle?</h1>
<br />
<p>
Project rheTOracle is a web app that mines a given search query and returns
compelling information about the people and topics being discussed.
Results were obtained using Twitter's Search API.
</p>

<br />

<h3>Team rheTOracle</h3>
Sean Azlin
<ul>
  <li><a href="#">Email</a> |
      <a href='#'>Twitter</a> |
      <a href="#">Linkedin</a>
  </li>
</ul>
Muazzez Mira
<ul>
  <li><a href="#">Email</a> |
      <a href='#'>Twitter</a> |
      <a href="#">Linkedin</a>
  </li>
</ul>
John Shiver
<ul>
  <li><a href="mailto:johneshiver@gmail.com">Email</a> |
      <a href='https://twitter.com/TrustyJohn'>Twitter</a> |
      <a href="http://www.linkedin.com/pub/john-shiver/49/765/129/">Linkedin</a>
  </li>
</ul>

<h3>Github</h3>

<ul>
    <li><a href="https://github.com/sazlin/rheTOracle">Github Page</a></li>
</ul>
</div>

{% endblock %}